.title {
  color: #ffffff;
  text-align: center;
  margin: 15px auto 20px auto;
}
.card-container {
  --background: #ffffff;
  padding: 15px;
  margin: 20px;
}
.card-history {
  --background: #FFFFFF;
  padding-bottom: 5px;
  margin: 20px;
  border-radius: 10px;
}
.card-title{
  padding-top: 5px;
  color: #08A6AC;
  text-align: center;
}
.color-text{
  color: #08A6AC !important;
}
