.title {
  color: #ffffff;
  text-align: center;
  margin: 15px auto 20px auto;
}
.card-container {
  --background: #8179dd;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.card-history {
  --background: #FFFFFF;
  padding-bottom: 5px;
  margin: 20px;
  border-radius: 10px;
}
.card-title{
  padding-top: 5px;
  color: #000000;
  text-align: center;
}
