<div>
  <section>
    <h2 class="title">Cuentos revisados</h2>
    <div>
      <ion-card class="card-container">
        <ion-card-title class="card"
          >2 libros leidos el ultimo mes</ion-card-title
        >
      </ion-card>
      <ion-card class="card-container">
        <ion-card-title class="card">1 en progreso actualmente</ion-card-title>
      </ion-card>
      <ion-card class="card-container">
        <ion-card-title class="card"
          >80% calificacion total de encuestas</ion-card-title
        >
      </ion-card>
      <ion-card class="card-container">
        <ion-card-title class="card">3 videolibros vistos</ion-card-title>
      </ion-card>
    </div>
  </section>

  <section>
    <h2 class="title">Historial</h2>
    <div>
      <ion-card class="card-history">
        <ion-img
          src="../../../../assets/images/cuento-active.png"
        ></ion-img>
        <ion-card-title class="card-title"
          >1 libro leido el 12/12/2020</ion-card-title
        >
      </ion-card>
      <ion-card class="card-history">
        <ion-img
          src="../../../../assets/images/cuento-inactive.png"
        ></ion-img>
        <ion-card-title class="card-title"
          >1 libro leido el 12/12/2020</ion-card-title
        >
      </ion-card>
      <ion-card class="card-history">
        <ion-img
          src="../../../../assets/images/cuento-inactive.png"
        ></ion-img>
        <ion-card-title class="card-title"
          >1 libro leido el 12/12/2020</ion-card-title
        >
      </ion-card>
      <ion-card class="card-history">
        <ion-img
          src="../../../../assets/images/cuento-inactive.png"
        ></ion-img>
        <ion-card-title class="card-title"
          >1 libro leido el 12/12/2020</ion-card-title
        >
      </ion-card>
      <ion-card class="card-history">
        <ion-img
          src="../../../../assets/images/cuento-inactive.png"
        ></ion-img>
        <ion-card-title class="card-title"
          >1 libro leido el 12/12/2020</ion-card-title
        >
      </ion-card>
      <ion-card class="card-history">
        <ion-img
          src="../../../../assets/images/cuento-inactive.png"
        ></ion-img>
        <ion-card-title class="card-title"
          >1 libro leido el 12/12/2020</ion-card-title
        >
      </ion-card>
      <ion-card class="card-history">
        <ion-img
          src="../../../../assets/images/cuento-inactive.png"
        ></ion-img>
        <ion-card-title class="card-title"
          >1 libro leido el 12/12/2020</ion-card-title
        >
      </ion-card>
    </div>
  </section>
</div>
