.button-io {
  margin: 50px 20px;
  background-color: #c74f4f;
}
ion-content {
  min-height: 700px;
  max-height: 1920px;
  height: auto;
  --background: transparent;
}
.login-section {
  background: linear-gradient(to top, #23A0AD, #30D6CC);
    border-radius: 25px;
    height: 100vh;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    border-radius: 25px;
    border: 3px solid white;
    display: block;
    margin: auto;
    background-position: top;
    .heading {
      margin-top: 20px;
      h1 {
        text-align: center;
        font-weight: bolder;
        color: #ffffff;
      }
    }
    .imagen {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .login-form {
      .form-input {
        position: relative;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
        color: white !important;
      }
    }

    .action-buttons {
      margin-top: 20px;
      text-align: center;
      .login-button {
        width: 100%;
        font-weight: bold;
      }
      .signup-button {
        font-weight: bold;
        width: 100%;
      }
    }
    ion-item {
      --background: transparent;
    }
  }

.c-white {
  color: white;
}