<ion-content
[fullscreen]="true"
class="login-section ion-padding">
  <div class="heading ion-padding">
    <h1>
      ¡Bienvenido!
    </h1>
  </div>
  <div class="imagen">
    <img
    height="200"
    src="../../../assets/images/1.png" />
  </div>
  <div class="login-form ion-padding">
    <div class="form-input">
      <ion-item>
        <ion-select (change)="onOptionsSelectTipo($event)" class="c-white" [(ngModel)]="eleccion" name="eleccion" required
          tabindex="4" interface="popover" placeholder="Seleccione su rol">
          <ion-select-option class="list" [value]="item.name" *ngFor="let item of tipos">
            {{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="form-input">
      <ion-item>
        <ion-label
          color="light"
          position="floating">
          Ingrese su DNI
      </ion-label>
        <ion-input
          name="parametro"
          [(ngModel)]="parametro"
          required autofocus
          tabindex="1" type="text"
          minlength="8"
          maxlength="11"
          onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></ion-input>
      </ion-item>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button
        (click)="login()"
        size="large" color="light"
        class="login-button"
        [disabled]="(parametro === undefined)? true:false">
        Ingresar
      </ion-button>
      <ion-button
        (click)="registrarse()"
        color="light" size="large"
        class="signup-button"
        [disabled]="(parametro !== undefined)? true:false">
        Registrarse
      </ion-button>
      <ion-button
        (click)="registrarsedoc()"
        color="dark" size="large"
        class="signup-button"
        [disabled]="(parametro !== undefined)? true:false">
        Registrarse Como Docente
      </ion-button>
    </div>
  </div>
</ion-content>
