<ion-content
[fullscreen]="true"
class="login-section ion-padding">
  <div class="heading ion-padding">
    <h1>
      ¡Bienvenido!
    </h1>
  </div>
  <div class="imagen">
    <img
    width="100%"
    height="200"
    src="../../../assets/images/1.png" />
  </div>
  <div class="login-form ion-padding">
    <div class="form-input">
      <ion-item>
        <ion-label
          color="dark"
          position="floating">
          Ingrese su nombre
      </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>
    <div class="form-input">
      <ion-item>
        <ion-label
          color="dark"
          position="floating">
          Ingrese su DNI
      </ion-label>
        <ion-input
          name="parametro"
          [(ngModel)]="parametro"
          required autofocus
          tabindex="1" type="text"
          minlength="8"
          maxlength="11"
          onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></ion-input>
      </ion-item>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button
        (click)="loginestudiante()"
        size="large" color="dark"
        class="login-button"
        [disabled]="(parametro === undefined)? true:false">
        Ingresar
      </ion-button>
      <ion-button
        (click)="registrarse()"
        color="dark" size="large"
        class="signup-button"
        [disabled]="(parametro !== undefined)? true:false">
        Registrarse
      </ion-button>
    </div>
  </div>
</ion-content>
