<ion-content class="fondocontenido">
  <div class= "login-section ion-padding">
    <div class="heading ion-padding">
      <h1>NOMBRE DE LA APLICACION</h1>
    </div>

    <div class="welcome ion-padding">
      <h1>¡Bienvenido!</h1>
    </div>
    <div class="imagen">

      <img width="2000" height="200" src="../../../assets/images/1.png"/>
    </div>


      <div class="login-form ion-padding">
        <div class="form-input">
        <ion-item>
          <ion-label color="dark" position="floating">Ingrese su nombre</ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-label color="dark" position="floating">Ingrese su DNI</ion-label>
            <ion-input type="text"></ion-input>

          </ion-item>
        </div>

        </div>
        <div class="action-buttons ion-padding">
          <ion-button size="large" color="dark" class="login-button">Ingresar</ion-button>
          <ion-button class="signup button"  color="dark"  size="large" >Registrarse</ion-button>

        </div>

      </div>




</ion-content>
