<ion-content [fullscreen]="true" class="register-section ion-padding">
  <div class="heading ion-padding">
    <h1>Registro de estudiante</h1>
  </div>
  <div class="register-form ion-padding">
    <div class="form-input">
      <ion-item>
        <ion-label color="light" position="floating">
          Ingrese su nombre
        </ion-label>
        <ion-input [(ngModel)]="estudiante.Nombre" name="Nombre" type="text" required autofocus tabindex="1">
        </ion-input>
      </ion-item>
    </div>
    <div class="form-input">
      <ion-item>
        <ion-label color="light" position="floating">
          Ingrese sus apellidos
        </ion-label>
        <ion-input name="Apellido" [(ngModel)]="estudiante.Apellido" type="text" required tabindex="2"></ion-input>
      </ion-item>
    </div>
    <div class="form-input">
      <ion-item>
        <ion-label color="light" position="floating">
          Ingrese su DNI
        </ion-label>
        <ion-input name="Documento" [(ngModel)]="estudiante.Documento" type="text" required tabindex="3"></ion-input>
      </ion-item>
    </div>
    <ion-list class="selected">
      <ion-item>
        <ion-select (change)="onOptionsSelectGenero($event)" [(ngModel)]="estudiante.Genero" name="Genero" required
          tabindex="4" interface="popover" placeholder="Seleccione su genero">
          <ion-select-option class="list" [value]="item.name" *ngFor="let item of generos">
            {{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <ion-list class="grades">
      <ion-item>
        <ion-select (change)="onOptionsSelectGrado($event)" [(ngModel)]="estudiante.GradoId" name="GradoId" required
          tabindex="5" color="light" position="floating" interface="popover" placeholder="Seleccione su grado">
          <ion-select-option class="list" [value]="item.id" *ngFor="let item of grados">
            {{item.Nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <div class="action-buttons ion-padding">
      <!-- <ion-button (click)="saveEstudiante()" size="large" color="dark" class="the-button"
      [disabled]="(estudiante.Nombre === '' || estudiante.Apellido === '' || estudiante.Documento === '' || estudiante.Genero === '' || estudiante.GradoId === 0)? true:false">
        Registrar
      </ion-button> -->
      <ion-button size="large" color="light" class="the-button"
        [disabled]="(estudiante.Nombre === '' || estudiante.Apellido === '' || estudiante.Documento === '' || estudiante.Genero === '' || estudiante.GradoId === 0)? true:false">
        Registrar
      </ion-button>
      <ion-button id="open-modal" expand="block" size="large" color="light" class="the-button">
        Agregar Responsable
      </ion-button>
      <!-- <ion-button  id="open-modal" expand="block" size="large" color="dark" class="the-button"
      [disabled]="(estudiante.Nombre === '' || estudiante.Apellido === '' || estudiante.Documento === '' || estudiante.Genero === '' )? true:false">
        Agregar Responsable
      </ion-button> -->
      <ion-button (click)="logearse()" size="large" color="light" class="the-button"
        [disabled]="(estudiante.Nombre !== '' || estudiante.Apellido !== '' || estudiante.Documento !== '' || estudiante.Genero !== '' || estudiante.GradoId !== 0)? true:false">
        Regresar
      </ion-button>
    </div>
  </div>

  <!-- zono del modal -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <!-- <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header> -->

      <div class="register-form ion-padding">
        <div class="form-input">
          <ion-item>
            <ion-label color="dark" position="floating">
              Ingrese su nombre
            </ion-label>
            <ion-input [(ngModel)]="responsable.Nombre" name="Nombre" type="text" required autofocus tabindex="1">
            </ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-label color="dark" position="floating">
              Ingrese sus apellidos
            </ion-label>
            <ion-input name="Apellido" [(ngModel)]="responsable.Apellido" type="text" required tabindex="2"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-label color="dark" position="floating">
              Ingrese su DNI
            </ion-label>
            <ion-input name="Documento" [(ngModel)]="responsable.Documento" type="text" required tabindex="3"></ion-input>
          </ion-item>
        </div>
        <ion-list class="selected">
          <ion-item>
            <ion-select (change)="onOptionsSelectGeneroResponsable($event)" class="c-white" [(ngModel)]="responsable.Genero" name="Genero" required
              tabindex="4" interface="popover" placeholder="Seleccione su genero">
              <ion-select-option class="list" [value]="item.name" *ngFor="let item of generos">
                {{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
        <ion-list class="grades">
          <ion-item>
            <ion-select (change)="onOptionsSelectParentesco($event)" class="c-white" [(ngModel)]="relacion.Parentesco" name="Parentesco" required
              tabindex="5" color="dark" position="floating" interface="popover" placeholder="Seleccione su grado">
              <ion-select-option class="list" [value]="item.id" *ngFor="let item of grados">
                {{item.Nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
        <div class="action-buttons ion-padding">
          <ion-button (click)="confirm()" id="open-modal" expand="block" size="large" color="dark" class="the-button">
            Registrar
          </ion-button>
          <ion-button (click)="cancel()" id="open-modal" expand="block" size="large" color="dark" class="the-button">
            Cancelar
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
