<div class="main_content_div_child">
  <div class="col_div_notificacion">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
  <div class="main_content_div animated bounceInUp">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div class="col_div col_div_titulo">
            <h2>
              Titulo
            </h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_lectura">
            <h2>
              Lectura
            </h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_video">
            <iframe [src]="elurl" frameborder="0" allowfullscreen></iframe>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_audio">
            <audio controls src="../../../../assets/audio/Nightcore-LightItUp-(Lyrics).mp3"></audio>
            <!-- <h2>
              Audio
            </h2> -->
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_reaccion">
            <h2>
              Reaccion
            </h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_comentario">
            <h2>
              Comentario
            </h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_final_alternativo">
            <h2>
              Final Alternativo
            </h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_final_siguiente">
            <h2>
              Siguiente
            </h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div">
            <!-- <ion-row>
              <ion-col size="5">
                <img src="../../../../assets/iconos/book.png" alt="libro">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  Lectura Textual
                </ion-label>
              </ion-col>
            </ion-row> -->
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div">
            <!-- <ion-row>
              <ion-col size="5">
                <img src="../../../../assets/iconos/video-book.png" alt="libro">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  Mediante Video
                </ion-label>
              </ion-col>
            </ion-row> -->
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div">
            <!-- <ion-row>
              <ion-col size="5">
                <img src="../../../../assets/iconos/audio-book.png" alt="libro">
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  Mediante Audio
                </ion-label>
              </ion-col>
            </ion-row> -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
