.col_div_notificacion {
  position: relative;
  float: right;
  height: 40px;
  width: 40px;
  top: -40px;
  ion-icon {
    width: 40px;
    height: 40px;
  }
}
.main_content_div {
  background: white;
  width: 100%;
  height: auto;
  min-height: 600px;
  max-height: 1200px;
  border-top-right-radius: 75px;
  margin-top: 10px;
  padding-top: 10px;
  .hello_lbl {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
    // primera opcion
    // color: #b91d73;
    // segunda opcion
    color: #045de9;
    // tercera opcion
    // color: #667eea;
    // cuarta opcion
    // color: #243949;
    // quinta opcion
    // color: #f46b45;
    // sexta opcion
    // color: #2f0743;
  }
  .col_div_titulo {
    height: auto;
    h2 {
      font-weight: bold;
      font-size: 24;
    }
  }
  .col_div_lectura {
    height: 350px;
  }
  .col_div_video {
    height: 250px;
  }
  .col_div_audio {
    height: 150px;
  }
  .col_div_reaccion {
    height: 50px;
  }
  .col_div_comentario {
    height: 150px;
  }
  .col_div_final_alternativo {
    height: 200px;
  }
  .col_div_final_siguiente {
    height: 50px;
  }
  .col_div {
    width: 100%;
    // primera opcion
    // --background: linear-gradient(to right, #b91d73, #f953c6);
    // segunda opcion
    background: linear-gradient(to right, #045de9, #09c6f9);
    // tercera opcion
    // --background: linear-gradient(to right, #667eea, #764ba2);
    // cuarta opcion
    // --background: linear-gradient(to right, #243949, #517fa4);
    // quinta opcion
    // --background: linear-gradient(to right, #f46b45, #eea849);
    // sexta opcion
    // --background: linear-gradient(to right, #2f0743, #41295a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    // border-radius: 5px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    img {
      width: 100px;
    }
    ion-label {
      // primera opcion
      // color: #b91d73;
      // segunda opcion
      // color: #045de9;
      // tercera opcion
      // color: #667eea;
      // cuarta opcion
      // color: #243949;
      // quinta opcion
      // color: #f46b45;
      // sexta opcion
      color: white;
      margin-top: 5px;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
  }
}

.animated {
  --webkit-animation-duration: 5s;
  animation-duration: 5s;
  --webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30);
  }
  80% {
    -webkit-transform: translateY(10);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

.bounceInUp {
  --webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
