<div class="main_content_div_child">
  <div class="col_div_notificacion">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
  <div class="main_content_div animated bounceInUp">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div class="col_div col_div_titulo">
            <h1>
              {{libro.Titulo || 'La liebre y la tortuga'}}
            </h1>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_lectura">
            <ion-slides pager="true" [options]="slideOpts">
              <!-- <ion-slide *ngFor="let item of parrafos">
                <img *ngIf="item.Imagen !== ''" [src]="item.Imagen" alt="" srcset="">
                <h1 *ngIf="item.Parrafo !== '' && 35 < item.Parrafo.lenght>
                  {{item.Parrafo}}
                </h1>
                <h2 *ngIf="item.Parrafo !== '' && 35 <= item.Parrafo.lenght < 50">
                  {{item.Parrafo}}
                </h2>
                <h3 *ngIf="item.Parrafo !== '' && 50 <= item.Parrafo.lenght < 70">
                  {{item.Parrafo}}
                </h3>
                <h4 *ngIf="item.Parrafo !== '' && 70 <= item.Parrafo.lenght < 90">
                  {{item.Parrafo}}
                </h4>
                <h5 *ngIf="item.Parrafo !== '' && 90 <= item.Parrafo.lenght < 110">
                  {{item.Parrafo}}
                </h5>
                <h6 *ngIf="item.Parrafo !== '' && 110 <= item.Parrafo.lenght < 120">
                  {{item.Parrafo}}
                </h6>
                <p *ngIf="item.Parrafo !== '' && 120 <= item.Parrafo.lenght">
                  {{item.Parrafo}}
                </p>
              </ion-slide> -->
              <ion-slide>
                <img src="https://static.guiainfantil.com/pictures/articulos/1407-fabulas-para-ninos-la-liebre-y-la-tortuga.jpg" alt="" srcset="">
              </ion-slide>
              <ion-slide>
                <h1>
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                </h1>
              </ion-slide>
              <ion-slide>
                <h2>
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud. Érase una vez una liebre
                  muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                </h2>
              </ion-slide>
              <ion-slide>
                <h3>
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud. Érase una vez una liebre
                  muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                </h3>
              </ion-slide>
              <ion-slide>
                <h4>
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud. Érase una vez una liebre
                  muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                </h4>
              </ion-slide>
              <ion-slide>
                <h5>
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud. Érase una vez una liebre
                  muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                </h5>
              </ion-slide>
              <ion-slide>
                <h6>
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud. Érase una vez una liebre
                  muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                </h6>
              </ion-slide>
              <ion-slide>
                <p>
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud. Érase una vez una liebre
                  muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                  Érase una vez una liebre muy veloz que presumía de ello ante todos los
                  animales del bosque. Un día, se encontró con una tortuga que caminaba
                  muy despacio. La liebre se burló de su lentitud.
                </p>
              </ion-slide>
              <!-- <ion-slide>
                <h2>
                  —Hagamos una carrera y veamos quién gana —propuso la tortuga.
                  Al empezar la carrera, la liebre salió disparada, mientras que
                  la tortuga avanzó lentamente. Al ver que sacaba una gran ventaja
                  a la tortuga, la liebre se paró en un árbol a descansar.
                  La tortuga siguió avanzando, poco a poco y sin detenerse.
                </h2>
              </ion-slide>
              <ion-slide>
                <h2>
                  Cuando la liebre despertó,
                  vio angustiada que la tortuga estaba a punto de llegar a
                  la meta. La liebre corrió y corrió, pero fue demasiado tarde.
                  La tortuga cruzó la meta, agotada pero feliz.
                </h2>
              </ion-slide> -->
            </ion-slides>
          </div>
        </ion-col>
        <!-- <ion-col size="12">
          <div class="col_div col_div_video">
            <iframe [src]="elurl" frameborder="0" allowfullscreen></iframe>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_audio">
            <audio controls src="../../../../assets/audio/Nightcore-LightItUp-(Lyrics).mp3"></audio>
          </div>
        </ion-col> -->
        <ion-col size="12">
          <div class="col_div col_div_reaccion">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="2">
                  <div class="elegible">
                    <img *ngIf="progreso.Reaccion !== 'like'"
                    src="../../../../assets/reacciones/like.png"
                    alt="me gusta" srcset="" (click)="elegir('like')">
                  </div>
                  <div class="elegido">
                    <img *ngIf="progreso.Reaccion === 'like'"
                    src="../../../../assets/reacciones/like-active.png"
                    alt="me gusta activado" srcset="" (click)="deselegir()">
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="elegible" (click)="elegir('smile')">
                    <img *ngIf="progreso.Reaccion !== 'smile'"
                    src="../../../../assets/reacciones/smile.png"
                    alt="me alegra" srcset="">
                  </div>
                  <div class="elegido" (click)="deselegir()">
                    <img *ngIf="progreso.Reaccion === 'smile'"
                    src="../../../../assets/reacciones/smile-active.png"
                    alt="me alegra activado" srcset="">
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="elegible" (click)="elegir('sad')">
                    <img *ngIf="progreso.Reaccion !== 'sad'"
                    src="../../../../assets/reacciones/sad.png"
                    alt="me entristece" srcset="">
                  </div>
                  <div class="elegido" (click)="deselegir()">
                    <img *ngIf="progreso.Reaccion === 'sad'"
                    src="../../../../assets/reacciones/sad-active.png"
                    alt="me entristece activado" srcset="">
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="elegible" (click)="elegir('angry')">
                    <img *ngIf="progreso.Reaccion !== 'angry'"
                    src="../../../../assets/reacciones/angry.png"
                    alt="me enoja" srcset="">
                  </div>
                  <div class="elegido" (click)="deselegir()">
                    <img *ngIf="progreso.Reaccion === 'angry'"
                    src="../../../../assets/reacciones/angry-active.png"
                    alt="me enoja activado" srcset="">
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="elegible" (click)="elegir('confused')">
                    <img *ngIf="progreso.Reaccion !== 'confused'"
                    src="../../../../assets/reacciones/confused.png"
                    alt="me confunde" srcset="">
                  </div>
                  <div class="elegido" (click)="deselegir()">
                    <img *ngIf="progreso.Reaccion === 'confused'"
                    src="../../../../assets/reacciones/confused-active.png"
                    alt="me confunde activado" srcset="">
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="elegible" (click)="elegir('amazed')">
                    <img *ngIf="progreso.Reaccion !== 'amazed'"
                    src="../../../../assets/reacciones/amazed.png"
                    alt="me asombra" srcset="">
                  </div>
                  <div class="elegido" (click)="deselegir()">
                    <img *ngIf="progreso.Reaccion === 'amazed'"
                    src="../../../../assets/reacciones/amazed-active.png"
                    alt="me asombra activado" srcset="">
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="col_div col_div_formulario">
            <ion-list>
              <ion-item-group>
                <ion-item-divider>
                  <ion-label>
                    Comentario:
                  </ion-label>
                </ion-item-divider>
                <ion-item class="no-border">
                  <ion-textarea
                    type="text"
                    name="Comentario"
                    required
                    auto-focus
                    tabindex="1"
                    minlength="10"
                    [(ngModel)]="progreso.Comentario">
                  </ion-textarea>
                </ion-item>
              </ion-item-group>
              <ion-item-group>
                <ion-item-divider>
                  <ion-label>
                    Final Alternativo:
                  </ion-label>
                </ion-item-divider>
                <ion-item>
                  <ion-textarea
                    type="text"
                    name="FinalAlternativo"
                    required
                    auto-focus
                    tabindex="1"
                    minlength="20"
                    [(ngModel)]="progreso.FinalAlternativo">
                  </ion-textarea>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="haycuestionario">
          <div class="col_div col_div_final_cuestionario">
            <ion-button
            shape="round"
            (click)="pruebacuestionario()"
            [disabled]="(progreso.Comentario === '' || progreso.FinalAlternativo === '' )? true:false">
                Cuestionario
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="!haycuestionario">
          <div
          (click)="pruebafinalizar()"
          class="col_div col_div_final_finalizar">
          <ion-button
            shape="round"
            (click)="pruebacuestionario()"
            [disabled]="(progreso.Comentario === '' || progreso.FinalAlternativo === '')? true:false">
                Finalizar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
