ion-title.title-large {
  color: #c897d8;
  font-size: 30px;
}
ion-title {
  height: auto;
  --color: white;
  font-weight:bold;
  font-size: 20px;
  text-align: center;
}
ion-toolbar {
  --background: translucent;
}
.main_content_div {
  background: white;
  width: 100%;
  height: auto;
  min-height: 600px;
  max-height: 2000px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  margin-top: 10px;
  padding-top: 10px;
  ion-grid {
    ion-row {
      ion-col {
        ion-select {
          border: 2px solid  #36abe0;
          border-radius: 20px;
          --placeholder-color: #23A0AD;
          color: #23A0AD;
          font-size: 20px;
        }
        ion-list {
          background: transparent;
          ion-item {
            --background: transparent;
            ion-label {
              background: transparent;
              --color: #23A0AD;
            }
            .pregunta {
              font-size: 24px;
            }
            .respuesta {
              font-size: 20px;
            }
            ion-icon {
              background: transparent;
            }
            .correcto {
              border-radius: 50%;
              border: 2px solid  #36abe0;
            }
            .incorrecto {
              border-radius: 50%;
              border: 2px solid #eb445a;
            }
          }
        }
        .col_div {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          border-radius: 25px;
          ion-button {
            --background: #93e9be;
            --background-hover: #9ce0be;
            --background-activated: #88f4be;
            --background-focused: #88f4be;
            --color: blue;
            --border-radius: 10px;
            --border-color: #000;
            --border-style: solid;
            --border-width: 1px;
            --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
            --ripple-color: deeppink;
            --padding-top: center;
            --padding-bottom: center;
          }
        }
      }
    }
  }
}


