<div class="body">
  <section>
    <h2 class="title">Grado 1</h2>
    <div>
      <ion-card class="card-container">
        <ion-card-title class="card"
          >15 libros leidos la ultima semana</ion-card-title
        >
      </ion-card>
      <ion-card class="card-container">
        <ion-card-title class="card">2 audiolibros escuchados</ion-card-title>
      </ion-card>
      <ion-card class="card-container">
        <ion-card-title class="card">3 videolibros vistos</ion-card-title>
      </ion-card>
    </div>
  </section>

  <section>
    <h2 class="title">Alumnos</h2>

    <div>
      <ion-button
        class="button button-io"
        expand="block"
        color="ion-color-tertiary-shade"
        (click)="goToHome()"
        >Nombre de Alumno 1 - DNI</ion-button
      >
      <ion-button
        class="button button-io"
        expand="block"
        color="ion-color-tertiary-shade"
        (click)="goToHome()"
        >Nombre de Alumno 2 - DNI</ion-button
      >
      <ion-button
        class="button button-io"
        expand="block"
        color="ion-color-tertiary-shade"
        (click)="goToHome()"
        >Nombre de Alumno 3 - DNI</ion-button
      >
      <ion-button
        class="button button-io"
        expand="block"
        color="ion-color-tertiary-shade"
        (click)="goToHome()"
        >Nombre de Alumno 4 - DNI</ion-button
      >

    </div>
  </section>
</div>
