.title {
  color: #ffffff;
  text-align: center;
  margin: 60px auto 20px auto;
}
.card-container {
  --background: #ffffff;
  padding: 15px;
  margin: 20px;
  color: #08A6AC;
}
section {
  margin: 10px;
}

.button-io {
  border-radius: 8px;
  background-color: #b7ede7;
  height: 60px;
  margin: 30px 20px 0 20px;
  font-size: 12px;
  overflow: hidden;
  color: #08A6AC;
}
