<div class="main_content_div_child">
  <div class="main_content_div_grados">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-between">
        <ion-col size="1">
          <ion-button color="light" (click)="getlibros()">
            <ion-icon name="library-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button color="light" (click)="getlibrobygrade('primero')">
            1°
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button color="light" (click)="getlibrobygrade('segundo')">
            2°
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button color="light" (click)="getlibrobygrade('tercero')">
            3°
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button color="light" (click)="getlibrobygrade('cuarto')">
            4°
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button color="light" (click)="getlibrobygrade('quinto')">
            5°
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button color="light" (click)="getlibrobygrade('sexto')">
            6°
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="main_content_div animated bounceInUp">
    <ion-label class="hello_lbl">
      Libros Disponibles
    </ion-label>
    <ion-grid fixed>
      <ion-row>
        <!-- <ion-col size="12">
          <div class="col_div">
            <img src="../../../../assets/iconos/book.png" alt="libro">
            <ion-label (click)="seleccion(1)">
              Titulo del Libro
            </ion-label>
          </div>
        </ion-col> -->
        <ion-col size="12" *ngFor="let item of libros">
          <div (click)="seleccion(item.LibroId)" class="col_div">
            <img [src]="item.libro.Imagen" alt="libro">
            <ion-label>
              {{item.libro.Titulo}}
            </ion-label>
            <p>
              {{item.libro.Autor}}
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
