<div class="ion-main">
  <ion-card class="card">
    <ion-card-title class="title">Hola, Juan</ion-card-title>
  </ion-card>

  <div class="avance">
    <h2 class="title">Avance</h2>
    <div class="two-columns">
      <img src="../../../assets/images/insignia.png" alt="avance" />
      <div>
        <ion-card class="card-container">
          <ion-card-title class="card">5 libros leidos</ion-card-title>
        </ion-card>
        <ion-card class="card-container">
          <ion-card-title class="card">2 audiolibros escuchados</ion-card-title>
        </ion-card>
        <ion-card class="card-container">
          <ion-card-title class="card">3 videolibros vistos</ion-card-title>
        </ion-card>
      </div>
    </div>
  </div>

  <div class="logros">
    <h2 class="title">Logros</h2>
    <div class="two-columns">
      <div class="card-img">
        <img
          class="card-container"
          width="80"
          height="auto"
          src="../../../assets/images/img1.png"
          alt="avance"
        />
        <img
          class="card-container"
          width="80"
          height="auto"
          src="../../../assets/images/img2.png"
          alt="avance"
        />
      </div>
      <div>
        <ion-card class="card-container">
          <ion-card-title class="card">Lector de aventuras</ion-card-title>
        </ion-card>
        <ion-card class="card-container">
          <ion-card-title class="card">Gatolecturas</ion-card-title>
        </ion-card>
      </div>
    </div>
  </div>

  <ion-button
    class="button button-io"
    expand="block"
    color="ion-color-tertiary-shade"
    (click)="goToHome()"
    >Empezar</ion-button
  >
</div>
