.title-name{
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
  color: #23A0AD;
}

.title {
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
  color: #ffffff;
}

.ion-main{
  margin: 0 10px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.card {
  padding: 10px;
  background-color: #ffffff;
  color: #23A0AD;
}

.button-io {
  border-radius: 8px;
  background-color: #ffffff;
  height: 50px;
  margin: 30px 10px 0 10px;
  font-size: 20px;
  overflow: hidden;
  color: #23A0AD;
}

.card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container{
  margin-bottom: 25px;
}
