.main_user_div {
  padding: 20px;
  width: 100%;
  height: 260px;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  // primera opcion
  // --background: linear-gradient(to right, #b91d73, #f953c6);
  // segunda opcion
  --background: linear-gradient(to right, #08A6AC, #36BDBC);
  // tercera opcion
  // --background: linear-gradient(to right, #667eea, #764ba2);
  // cuarta opcion
  // --background: linear-gradient(to right, #243949, #517fa4);
  // quinta opcion
  // --background: linear-gradient(to right, #f46b45, #eea849);
  // sexta opcion
  // --background: linear-gradient(to right, #2f0743, #41295a);
  .first_div {
    padding-top: 35px;
    .welcome {
      font-size: 18px;
      color: white;
      font-weight: 500;
    }
    .username {
      font-size: 24px;
      color: white;
      font-weight: 600;
    }
  }
  .second_div {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  .image_male {
    background: url(../../../assets/iconos/studentboy.png) content-box no-repeat;
    background-size: cover;
    // background: url(../../assets/iconos/male.png) content-box no-repeat;
  }
  .image_female {
    background: url(../../../assets/iconos/student.png) content-box no-repeat;
    background-size: cover;
    // background: url(../../assets/iconos/female.png) content-box no-repeat;
  }
}
.main_content_div {

  background: white;
  width: 100%;
  border-top-right-radius: 15px;
  margin-top: -90px;
  padding-top: 30px;
  .hello_lbl {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 10px;
    // primera opcion
    // color: #b91d73;
    // segunda opcion
    color: #08A6AC;
    // tercera opcion
    // color: #667eea;
    // cuarta opcion
    // color: #243949;
    // quinta opcion
    // color: #f46b45;
    // sexta opcion
    // color: #2f0743;
  }
  .col_div {
    // primera opcion
    // --background: linear-gradient(to right, #b91d73, #f953c6);
    // segunda opcion
    background: linear-gradient(to right, #08A6AC, #36BDBC);
    // tercera opcion
    // --background: linear-gradient(to right, #667eea, #764ba2);
    // cuarta opcion
    // --background: linear-gradient(to right, #243949, #517fa4);
    // quinta opcion
    // --background: linear-gradient(to right, #f46b45, #eea849);
    // sexta opcion
    // --background: linear-gradient(to right, #2f0743, #41295a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    // border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    img {
      width: 100px;
    }
    ion-label {
      // primera opcion
      // color: #b91d73;
      // segunda opcion
      // color: #08A6AC;
      // tercera opcion
      // color: #667eea;
      // cuarta opcion
      // color: #243949;
      // quinta opcion
      // color: #f46b45;
      // sexta opcion
      color: white;
      margin-top: 5px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}


.animated {
  --webkit-animation-duration: 5s;
  animation-duration: 5s;
  --webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30);
  }
  80% {
    -webkit-transform: translateY(10);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

.bounceInUp {
  --webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
