<ion-content class="fondocontenido">
  <div class= "login-section ion-padding">
    <div class="heading ion-padding">
      <h1>
        Registro de Libro
      </h1>
    </div>
    <ion-infinite-scroll>
      <div class="login-form ion-padding infinite-scroll-content">
          <div class="form-input">
            <ion-item>
              <ion-label
              color="dark"
              position="floating">
              Ingrese Titulo
            </ion-label>
              <ion-input
              type="text"
              name="Titulo"
              [(ngModel)]="libro.Titulo"
              required autofocus
              tabindex="1"></ion-input>
            </ion-item>
          </div>
          <div class="form-input">
            <ion-item>
              <ion-label
              color="dark"
              position="floating">
              Ingrese link del Audio
            </ion-label>
              <ion-input
              type="text"
              name="Audio"
              [(ngModel)]="libro.Audio"
              required
              tabindex="2"></ion-input>
            </ion-item>
          </div>
          <div class="form-input">
            <ion-item>
              <ion-label
              color="dark"
              position="floating">
              Ingrese link embed del video de yotube
            </ion-label>
              <ion-input
              type="text"
              name="Video"
              [(ngModel)]="libro.Video"
              required
              tabindex="3"></ion-input>
            </ion-item>
          </div>
          <div class="form-input">
              <ion-item>
                <ion-label
                color="dark"
                position="floating">
                Ingrese Imagen
              </ion-label>
                <ion-input
                type="text"
                name="Imagen"
                [(ngModel)]="libro.Imagen"
                required
              tabindex="4"></ion-input>
              </ion-item>
          </div>
          <div class="form-input">
            <ion-item>
              <ion-label
              color="dark"
              position="floating">
              Ingrese Autor
            </ion-label>
              <ion-input
              type="text"
              name="Autor"
              [(ngModel)]="libro.Autor"
              required
              tabindex="5"></ion-input>
            </ion-item>
          </div>
          <div class="action-buttons ion-padding">
            <ion-button
              (click)="saveLibro()"
              size="large"
              color="dark"
              class="login-button"
              [disabled]="(
                libro.Titulo === '' || libro.Imagen === ''
              )? true:false">
              Registrar
            </ion-button>
          </div>
        </div>
      </ion-infinite-scroll>
      </div>
</ion-content>
