<div class="main_content_div_child">
  <div class="main_content_div animated bounceInUp">
    <div class="profile-section ion-padding">
      <div class="heading ion-padding">
        <h1>
          Modificar mis datos
        </h1>
      </div>
      <div class="profile-form ion-padding">
        <div class="form-input">
          <ion-item>
            <ion-label color="light" position="floating">
              Nombre
            </ion-label>
            <ion-input [(ngModel)]="estudiante.Nombre" name="Nombre" type="text" required autofocus tabindex="1">
            </ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-label color="light" position="floating">
              Apellidos
            </ion-label>
            <ion-input name="Apellido" [(ngModel)]="estudiante.Apellido" type="text" required tabindex="2"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-label color="light" position="floating">
              Documento
            </ion-label>
            <ion-input name="Documento" [(ngModel)]="estudiante.Documento" type="text" required tabindex="3"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-select (change)="onOptionsSelectGenero($event)" [(ngModel)]="estudiante.Genero" name="Genero" required
              tabindex="4" interface="popover" placeholder="Seleccione su genero">
              <ion-select-option class="list" [value]="item.name" *ngFor="let item of generos">
                {{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-select (change)="onOptionsSelectGrado($event)" [(ngModel)]="estudiante.GradoId" name="GradoId" required
              tabindex="5" color="light" position="floating" interface="popover" placeholder="Seleccione su grado">
              <ion-select-option class="list" [value]="item.id" *ngFor="let item of grados">
                {{item.Nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-select (change)="onOptionsSelectSeccion($event)" [(ngModel)]="estudiante.Seccion" name="Seccion" required
              tabindex="6" interface="popover" placeholder="Seleccione su seccion">
              <ion-select-option class="list" [value]="item.name" *ngFor="let item of secciones">
                {{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="action-buttons ion-padding">
          <ion-button (click)="updateEstudiante()" size="large" class="profile-button"
          [disabled]="(estudiante.Nombre === '' || estudiante.Apellido === '' || estudiante.Documento === '' || estudiante.Genero === '' || estudiante.GradoId === 0)? true:false">
          Actualizar Datos
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
